.SectionFive {
  color: white;
  height: 100vh;
  .background {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    .background-line {
      transform: translateX(-150%);
      text-transform: uppercase;
      font-size: 230px;
      margin: 10px 0;
      color: black;
      -webkit-text-stroke: 1px rgba(255, 255, 255, 0.1);
      -webkit-text-fill-color: black; /* Will override color (regardless of order) */
      -webkit-text-stroke-width: 4px;
      -webkit-text-stroke-color: rgba(255, 255, 255, 0.1);
      &:nth-child(2) {
        transform: translateX(150%);
      }
    }
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    z-index: 1;
    .overflow-inner {
      height: 150px;
      overflow: hidden;
    }
    h1 {
      font-size: 140px;
      text-transform: uppercase;
      position: relative;
      color: transparent;

      &::before {
        content: "Javascript";
        position: absolute;
        top: 0px;
        left: 0px;
        color: red;
        clip-path: inset(0px 788px 0px 0px);
        transition: all 0.3s;
      }
      span:after {
        content: "Javascript";
        position: absolute;
        top: 0px;
        left: 0px;
        color: red;
        clip-path: inset(0px 480px 0px 340px);
        transition: all 0.3s;
      }
      &::after {
        content: "Javascript";
        position: absolute;
        top: 0px;
        right: 0px;
        color: red;
        clip-path: inset(0px 200px 0px 650px);
        transition: all 0.3s;
      }
      span:before {
        content: "Javascript";
        position: absolute;
        top: 0px;
        right: 0px;
        color: red;
        clip-path: inset(0px 0px 0px 930px);
        transition: all 0.3s;
      }
      &:hover {
        &::after {
          top: 14px;
          cursor: pointer;
          color: rgba(255, 255, 255, 0.6);
        }
        &::before {
          top: -24px;
          cursor: pointer;
          color: rgba(255, 255, 255, 0.6);
        }
        span:before {
          top: 4px;
          cursor: pointer;
        }
        span::after {
          top: -8px;
          cursor: pointer;
        }
      }
    }
  }
}
